body {
  background-color: hsl(212, 33%, 89%);
}

.navbar {
  background-color: hsl(209, 34%, 30%);
}

.sidebar .sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-link.active,
.sidebar .nav-link.active:hover {
  color: #007bff;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
